* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(27, 120, 182);
    height: 100px;
    background-image: url(./img/pattern.png);
    background-size: contain;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    margin-top: 50px;
    margin-left: 5px;
}

.titolo {
    margin-bottom: 40px;
}

.credits {
    color: lightslategray;
}

#booleaner {
    color: rgb(50, 143, 186);
}

section {
    margin-top: 40px;
}

.yellow {
   background-color: yellow;
}

.pallini {
    padding: 30px;
}


table {
    border-spacing: 0;
    width: 100%;
    margin-bottom: 30px;
}

thead {
    background-color: rgb(28, 148, 227);
    color: white;
}

.azzurrino {
    background-color: rgb(116, 255, 255);
}

footer {
    margin-top: 30px;
}

.immagini-finali-a {
    background-image: url(./img/monitor.jpg);
    height: 200px;
    background-repeat: no-repeat;
    margin-top: 10px;
}


.bianco {
    color: white;
    font-weight:bolder ;
    padding: 10px;
    font-size: larger;
}

.immagini-finali-b {
    background-image: url(./img/graph.jpg);
    height: 200px;
    background-repeat: no-repeat;
    margin-top: 10px;
}
